#################################
# Dependencias
#################################
node_modules/
.pnp/
.pnp.js

#################################
# Builds / dist
#################################
dist/
build/
out/
.next/
.vite/
.turbo/
.nx/

#################################
# TypeScript
#################################
*.tsbuildinfo

#################################
# Logs
#################################
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#################################
# Entornos
#################################
.env
.env.*
!.env.example

#################################
# Coverage / tests
#################################
coverage/
.nyc_output/

#################################
# Cache
#################################
.cache/
.eslintcache

#################################
# OS
#################################
.DS_Store
Thumbs.db

#################################
# IDEs / editores
#################################
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/
*.swp
*.swo

#################################
# Frontend específico
#################################
apps/frontend/.astro/
apps/frontend/.vercel/
apps/frontend/.netlify/

#################################
# Backend específico
#################################
apps/backend/uploads/
apps/backend/tmp/

#################################
# Monorepo / workspace
#################################
node_modules/.cache/
packages/*/dist/
apps/*/dist/

